<main style="user-select: auto;">
        <p id="notice" style="user-select: auto;"><%= flash[:notice] %></p>
        <div class="container px-5 px-sm-0" style="user-select: auto;">

          <div class="row" style="user-select: auto;">
            <div class="col-md-3" style="user-select: auto;">

<!--ユーザー画面ページのテンプレート使用      -->
<%= render 'users/usertemplete1', user: @user %>
<!--ユーザー画面ページのテンプレート使用

<!--~投稿フォーム部分テンプレート使用〜-->
 <%= render 'books/booktemplete1', book: @book %>
<!--~投稿フォーム部分テンプレート使用〜-->

 <!--~ 投稿内容反映〜-->
    <div class="col-md-8 offset-md-1" style="user-select: auto;">
      <h2 style="user-select: auto;">Users</h2>
      <table class="table" style="user-select: auto;">
        <thead style="user-select: auto;">
            <tr style="user-select: auto;">
              <th style="user-select: auto;">image</th>
              <th style="user-select: auto;">name</th>
              <th colspan="3" style="user-select: auto;"></th>
            </tr>
         </thead>

  <tbody style="user-select: auto;">
      <tr style="user-select: auto;">
        <% @users.each do |f| %>
         <td style="user-select: auto;"><%= attachment_image_tag f, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image2.jpg" %></td>
         <td style="user-select: auto;"><%= f.name%></td>
         <td style="user-select: auto;"><%= link_to "Show",user_path(f.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>

 <!--~ 投稿内容反映〜-->


     </div>
    </div>
  </div>
 </main>


<!--footerのテンプレート使用      -->
<%= render 'users/footer' %>
<!--footerのテンプレート使用