<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
<header style="user-select: auto;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="user-select: auto;">
    <div class="container" style="user-select: auto;">
      <a class="navbar-brand" href="/" style="user-select: auto;"><span style="user-select: auto;">Bookers</span></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="user-select: auto;">
        <span class="navbar-toggler-icon" style="user-select: auto;"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarNavDropdown" style="user-select: auto;">
        <ul class="navbar-nav ml-auto" style="user-select: auto;">
           <% if user_signed_in? %>

           <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><a class="fas fa-home nav-link text-light" href="/users/31403"> Home</a></li>
          <li><a class="fas fa-users nav-link text-light" href="/users"> Users</a></li>
          <li><a class="fas fa-book-open nav-link text-light" href="/books"> Books</a></li>
          <li><a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
        </ul>
      </div>
            <% else %>

          <li style="user-select: auto;"><a class="fas fa-home nav-link text-light" href="/" style="user-select: auto;"> Home</a></li>
          <li style="user-select: auto;"><a class="fas fa-link nav-link text-light" href="/home/about" style="user-select: auto;"> About</a></li>
          <li style="user-select: auto;"><a class="fas fa-user-plus nav-link text-light" href="/users/sign_up" style="user-select: auto;"> sign up</a></li>
          <li style="user-select: auto;"><a class="fas fa-sign-in-alt nav-link text-light" href="/users/sign_in" style="user-select: auto;"> login</a></li>
        </ul>
        </div>
           <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

   <%= yield %>
  </body>
</html>
